/.cloud/
/.storage/
/appdaemon/
/backups/
/image/
/custom_components/
.vscode/
/deps/
/tmp/
/tts/
/www/
.db
.log
.info
fileNotifications.txt
.db-shm
.db-wal
.db-wal
home-connect.info
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.fault
home-assistant.log
home-assistant.log.1
home-assistant_v2.db
zigbee.db-shm
zigbee.db-wal
zigbee.db
.HA_VERSION
secrets.yaml
.shopping_list.json
